:root {
    --level-select-screen-size: min(var(--screen-square), 600px);
    --level-select-button-size: min(calc(var(--screen-square) / 8), 75px);
    --level-select-scroll-shadow-size: calc(var(--level-select-button-size) / 2);
}

nav {
    isolation: isolate;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: calc(var(--level-select-screen-size) / 50);
    position: relative;
    width: var(--screen-width);
    height: var(--screen-height);
    padding: calc(var(--level-select-screen-size) / 50);
}

nav button {
    width: var(--level-select-button-size);
    height: var(--level-select-button-size);
    padding: calc(var(--level-select-screen-size) / 100);
    border: none;
    font-size: calc(var(--level-select-screen-size) / 20);
    background-color: var(--theme-color-2);
}

nav>section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--level-select-button-size) / 5);
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    margin: auto;
    overflow-y: scroll;
    padding: var(--level-select-scroll-shadow-size) 0;
}

nav::before{
    content: "";
    grid-column: 1;
    grid-row: 2;
    position: absolute;
    inset: -1px 0 auto 0;
    width: 100%;
    height: var(--level-select-scroll-shadow-size);
    background: linear-gradient(0deg, #0000 0%, var(--theme-color-1) 100%);
}

nav::after{
    content: "";
    grid-column: 1;
    grid-row: 2;
    position: absolute;
    inset: auto 0 -1px 0;
    width: 100%;
    height: var(--level-select-scroll-shadow-size);
    background: linear-gradient(0deg, var(--theme-color-1) 0%, #0000 100%);
}

@media (min-width: 600px) {
    nav>section {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (hover: hover) {
    nav button:hover {
        cursor: pointer;
        background-color: var(--theme-color-3);
    }
}

nav>button {
    mask-image: url("./images/back.svg");
    -webkit-mask-image: url("./images/back.svg");
    background-color: #000;
}
