:root {
    --main-button-size: min(calc(var(--screen-square) / 8), 75px);
}

main>button {
    isolation: isolate;
    position: absolute;
    width: var(--main-button-size);
    height: var(--main-button-size);
    padding: calc(var(--main-button-size) / 8);
    margin: calc(var(--main-button-size) / 5);
    border: none;
    font-size: calc(var(--main-button-size) / 2);
    background-color: var(--theme-color-1);
}

main>button:nth-child(1) {
    left: 0;
    top: 0;
}

main>button:nth-child(2) {
    right: 0;
    top: 0;
}

main dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-2);
    padding: 0;
}

main dialog::backdrop {
    background-color: #000A;
}

main dialog div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--main-button-size) / 10);
    padding: calc(var(--main-button-size) / 10);
}

main h2 {
    width: 100%;
    font-size: calc(var(--main-button-size) / 2);
    text-align: center;
}

main dialog button {
    flex: 1 1 0px;
    font-size: calc(var(--main-button-size) / 3);
    padding: calc(var(--main-button-size) / 10);
    border: none;
    background-color: var(--theme-color-1);
}

@media (hover: hover) {
    main button {
        cursor: pointer;
    }
}