:root {
    --main-screen-size: min(var(--screen-square), 600px);
    --main-button-size: min(calc(var(--screen-square) / 8), 75px);
}

main>button {
    isolation: isolate;
    position: absolute;
    top: 0;
    width: var(--main-button-size);
    height: var(--main-button-size);
    padding: calc(var(--main-button-size) / 8);
    margin: calc(var(--main-button-size) / 5);
    border: none;
    background-color: #000;
}

main>button:nth-child(1) {
    left: 0;
    mask-image: url("./images/revert.svg");
    -webkit-mask-image: url("./images/revert.svg");
}

main>button:nth-child(2) {
    right: calc(var(--main-button-size) + var(--main-button-size) / 5);
    mask-image: url("./images/reset.svg");
    -webkit-mask-image: url("./images/reset.svg");
}

main>button:nth-child(3) {
    right: 0;
    mask-image: url("./images/pause.svg");
    -webkit-mask-image: url("./images/pause.svg");
}

main dialog {
    background-color: var(--theme-color-2);
    padding: 0;
    margin: auto;
}

main dialog::backdrop {
    background-color: #000A;
}

main dialog div {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--main-button-size) / 10);
    padding: calc(var(--main-button-size) / 10);
}

main h2 {
    width: 100%;
    font-size: calc(var(--main-button-size) / 2);
    text-align: center;
}

main dialog button {
    flex: 1 1 0px;
    font-size: calc(var(--main-button-size) / 3);
    padding: calc(var(--main-button-size) / 10);
    border: none;
    background-color: var(--theme-color-1);
}

@media (hover: hover) {
    main button {
        cursor: pointer;
    }
}