:root {
    --main-button-size: min(calc(var(--screen-square) / 8), 75px);
}

main>button {
    isolation: isolate;
    position: absolute;
    width: var(--main-button-size);
    height: var(--main-button-size);
    padding: calc(var(--main-button-size) / 8);
    margin: calc(var(--main-button-size) / 5);
    border: none;
    font-size: calc(var(--main-button-size) / 2);
    background-color: var(--theme-color-1);
}

main>button:nth-child(1) {
    left: 0;
    top: 0;
}

main>button:nth-child(2) {
    right: 0;
    top: 0;
}

main>section:not(.mounted) {
    display: none;
}

main>section {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #0006;
}

main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--main-button-size) / 10);
    width: min(80%, 300px);
    padding: calc(var(--main-button-size) / 10);
    background-color: var(--theme-color-2);
}

main h2 {
    width: 100%;
    font-size: calc(var(--main-button-size) / 2);
    text-align: center;
}

main div button {
    flex: 1 1 0px;
    font-size: calc(var(--main-button-size) / 3);
    padding: calc(var(--main-button-size) / 10);
    border: none;
    background-color: var(--theme-color-1);
}

@media (hover: hover) {
    main button {
        cursor: pointer;
    }
}